{% extends 'mywebsite/base.html' %}

{% block content %}
          <h1>About</h1>
          <div class="lead">The world has taken "concrete" steps to prevent nuclear terrorism, he told the Nuclear Security Summit in Washington.
          But the so-called Islamic State (IS) obtaining a nuclear weapon is "one of the greatest threats to global security," he added.</div>
          <hr>
          <p>The world has taken "concrete" steps to prevent nuclear terrorism, he told the Nuclear Security Summit in Washington.
          But the so-called Islamic State (IS) obtaining a nuclear weapon is "one of the greatest threats to global security," he added.</p>
{% endblock %}
