{% extends 'mywebsite/base.html' %}

{% block content %}
          {% for post in posts %}

            <article>
              <header><h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2></header>
              <footer><small>Post Date: {{ post.published_date }} Comments: {{ post.approved_comments.count }}</small></footer>
              {% if post.image %}
              <img src="{{ post.image.url }}" class='img-responsive'>
              {% endif %}
              <div class="lead" style="word-break:break-word;">{{ post.text|linebreaks|truncatechars_html:100 }}<a href="{% url 'post_detail' pk=post.pk %}">Read More</a>
              </div>
              <footer>
                <span class="label label-default">Default</span>
                <span class="label label-default">Default</span>
                <span class="label label-default">Default</span>
                <span class="label label-default">Default</span>
              </footer>
            </article>
                    <hr>

          {% endfor %}



<!--           <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->

          <div class="pagination">
              <span class="step-links">
                  {% if posts.has_previous %}
                      <a href="?page={{ posts.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                  </span>

                  {% if posts.has_next %}
                      <a href="?page={{ posts.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>

{% endblock %}