{% extends 'mywebsite/base.html' %}

{% block content %}
          <article>
            {% if user.is_authenticated %}
              <header>
              <h1>{{ post.title }}</h1>
              <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              </header>
            {% else %}
              <header><h1>{{ post.title }}</h1></header>
            {% endif %}
            {% if post.published_date %}
              <footer><small>Post Date: {{ post.published_date }}</small></footer>
            {% else %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
            {% endif %}

            {% if post.image %}
            <img src="{{ post.image.url }}" class='img-responsive'>
            {% endif %}

            <div class="lead" style="word-break:break-word;">{{ post.text|linebreaks }}
            </div>
            <footer>
              <span class="label label-default">Default</span>
              <span class="label label-default">Default</span>
              <span class="label label-default">Default</span>
              <span class="label label-default">Default</span>
            </footer>
          </article>
          <hr>
          <div class="comments">
            <h2>Comments</h2>
            {% for comment in post.comments.all %}
                <div class="row">
                  <div class="col-md-11">
                      {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                      {% endif %}
                    <p>{{ comment.text|linebreaks }}</p>
                    <footer>
                    <small><b>{{ comment.author }}</b> Commented on: {{ comment.created_date }}</small>
                    </footer>
                  </div>
                  <div class="col-md-1">{{ comment.pk }}</div>
                </div>
                <hr>
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}            
          </div>

          <form method="POST" class="post-form">{% csrf_token %}
          <h3>Have your say </h3>
            {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
{% endblock %}